<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>乐淘商城-搜索中心</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="libs/mui/css/mui.css">
  <link rel="stylesheet" href="libs/fa/css/font-awesome.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="lt_container">
  <!--乐淘首页头部-->
  <div class="lt_header">
    <a href="javascript:history.go(-1)" class='icon-left'>
      <span class='fa fa-chevron-left'></span>
    </a>
    <h4>搜索中心</h4>
  </div>
  <!--乐淘首页主体部分-->
  <div class="lt_main">
    <!--这里分为左右两边的区域滚动-->
    <!--乐淘搜索-->
    <div class="lt_search">
      <input type="text" placeholder='请输入搜索关键字' class='search_text'>
      <button class='mui-btn mui-btn-primary search_btn'>搜索</button>
    </div>
    <!--乐淘搜索历史记录-->
    <div class="lt_history">
      <!--挖个坑-->
    </div>
  
  </div>
  <!--乐淘首页底部-->
  <div class="lt_footer">
    <ul class='mui-clearfix'>
      <li>
        <a href="index.html">
          <span class='fa fa-home'></span>
          <p>首页</p>
        </a>
      </li>
      <li>
        <a href="category.html">
          <span class='fa fa-bars'></span>
          <p>分类</p>
        </a>
      
      </li>
      <li>
        <a href="cart.html">
          <span class='fa fa-shopping-cart'></span>
          <p>购物车</p>
        </a>
      </li>
      <li>
        <a href="user.html">
          <span class='fa fa-user'></span>
          <p>会员中心</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
<!--搜索历史记录的数据模板-->
<script type='text/template' id='tpl'>
    {{if list.length==0}}
    <p>没有历史记录</p>
    {{/if}}
    {{if list.length>0}}
  <div class="title mui-clearfix">
    <span class='mui-pull-left'>搜索历史</span>
    <span class='mui-pull-right fa fa-trash btn_empty'>清空记录</span>
  </div>
  <div class="content">
    <ul>
      {{each list $v $i}}
      <li class='mui-clearfix'>
        <a href="searchList.html?key={{$v}}" class='mui-pull-left'>{{$v}}</a>
        <span class='mui-icon mui-icon-closeempty mui-pull-right btn-delete' data-index={{$i}}></span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</script>
<!--前端类似jquey的插件zepto-->
<script src='libs/zepto/zepto.min.js'></script>
<!--前端框架mui-->
<script src='libs/mui/js/mui.js'></script>
<script src='libs/artTemplate/template-web.js'></script>
<script src='js/common.js'></script>
<script src='js/search.js'></script>